<div class="about row">
    <div class="col-md-12">
       <h2>About me </h2>
        <br/>
        <p>zhangkong</p>
        
        <h2>Contact</h2>
        <ul>
            <li>Email：<a href="mailto:{{ site.email }}" target="_top">{{ site.email }}</a></li>
            <li>我的微信：<strong>xtaypwaf</strong>（备注：博客）</li>
        </ul>
       <p>
        感谢您在茫茫人海中阅读了我的博客。
       </p>


        <!-- Comments -->
       <div class="comment">
         {% include comments.html %}
       </div> 

    </div>
</div>