<div class="about row">
    <div class="col-md-12">
       <h2>About me </h2>
        <br/>
        <p>zhangkong</p>
        
        <h2>Contact</h2>
        <ul>
            <li>Github<a href="https://github.com/zhangkong828" target="_blank">https://github.com/zhangkong828</a></li>
            <li>Email：<a href="mailto:{{ site.email }}" target="_top">{{ site.email }}</a></li>
            <li>Wechat<strong>xtaypwaf</strong>（备注：博客）</li>
        </ul>


        <!-- Comments -->
       <div class="comment">
         {% include comments.html %}
       </div> 

    </div>
</div>