<div class="post-copyright">
    <ul>
        <li class="post-copyright-author">
            <strong>作者:  </strong>ZhangKong
        </li>
        <li class="post-copyright-link">
            <strong>出处: </strong>
            <a href="{{ site.url }}{{ page.url }}" title="{{ page.title }}">{{ site.url }}{{ page.url }}</a>
        </li>
        <li class="post-copyright-license">
            除非另有说明,本博客的所有文章均采用 <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" rel="noopener" target="_blank"><i class="fa fa-fw fa-creative-commons"></i>CC BY-NC-SA 4.0</a> 进行许可.
        </li>
    </ul>
</div>