<div class="row post-nav">
            <div class="post-nav-item">
    {% if page.previous %}
                <a href="{{ page.previous.url | relative_url }}" rel="prev" title="{{ page.previous.title | markdownify | strip_html }}">
                  <i class="fa fa-chevron-left"></i> {{ page.previous.title | markdownify | strip_html }}
                </a>
    {% endif %}
            </div>

            <div class="post-nav-item">     
                {% if page.next %}
                <a href="{{ page.next.url | relative_url }}" rel="next" title="{{ page.next.title | markdownify | strip_html }}">
                  {{ page.next.title | markdownify | strip_html }} <i class="fa fa-chevron-right"></i>
                </a>
                    {% endif %}
            </div>

          </div>